<div class="col-11">
    <tr class="tabla">
        <td style="color: white; padding: 10px; margin: 3%; border-top-left-radius: 10px;">Titulo</td>
        <td style="color: white; padding: 10px; margin: 3%;">Descripcion</td>
        <td style="color: white; padding: 10px; margin: 3%;">Fecha de caducidad</td>
        <td style="color: white; padding: 10px; margin: 3%;">Imagen</td>
        <td style="padding: 10px; margin: 3%; display: flex; border-top-right-radius: 10px;">
            <button routerLink="/" class="btn btn-secondary" style="margin: 5px;">+</button>
            <button class="btn btn-secondary" style="margin: 5px;">d</button>
        </td>
    </tr>
    <tr class="tabla" *ngFor="let x of noticias">
        <td style="color: white; padding: 10px; margin: 3%;">{{x.titulo}}</td>
        <td style="color: white; padding: 10px; margin: 3%;">{{x.descripcion}}</td>
        <td style="color: white; padding: 10px; margin: 3%;">{{x.fechaCaducidad}}</td>
        <td style="color: white; padding: 10px; margin: 3%;">{{x.imagen}}</td>
        <td></td>
    </tr>
</div>