<div class="col-11">
    <b><u><h2 class="noticiaTitulo">NOTICIAS</h2></u></b>
    <tr class="tabla">
        <td class="tdbase1">Titulo</td>
        <td class="tdbase">Descripcion</td>
        <td class="tdbase">Fecha de caducidad</td>
        <td class="tdbase">Imagen</td>
        <td class="tdbtn">
            <button routerLink="/altaNoticia" class="btn btn-secondary" style="margin: 5px;">+</button>
            <button class="btn btn-secondary" style="margin: 5px;">d</button>
        </td>
    </tr>
    <tr class="tabla" *ngFor="let x of noticias">
        <td class="tdbase">{{x.titulo}}</td>
        <td class="tdbase">{{x.descripcion}}</td>
        <td class="tdbase">{{x.fechaCaducidad}}</td>
        <td class="tdbase">img</td>
        <td></td>
    </tr>
</div>