  <div class="row justify-content-center"> 
    <div class="row justify-content-center">
      <img src="../../../assets/logo-footer-lite.png" style=" width: 20%;"> 
    </div>
    <div class="row justify-content-center" style= " width:80% ; margin-top: 50px; margin-bottom: 100px;">
      <ngb-carousel [showNavigationIndicators]="false" >
        <ng-template ngbSlide *ngFor="let n of noticias">
          <div class="picsum-img-wrapper">
            <div>
              <img src={{n.imagen}} alt="IMG" class="img-fluid" >
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  
  </div>