<div *ngIf="token!=null; then thenBlock else elseBlock"></div>
<!-- ESTA LOGEADO -->
<ng-template #thenBlock>
  <div>
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-between" style="background-color: white ; margin-bottom: 2%;">
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle><img src="../../assets/Isotipo-utec.png"
            style="width: 30px;"> Menu</a>
        <div ngbDropdownMenu style="padding: 5px; width: 230px;">
          <a routerLink="/"> <i class="bi bi-house"></i> Home</a>
          <br><br>
          <a routerLink="/documentos"> <i class="bi bi-file-earmark"></i> Documentos de interes</a>
          <br><br>
          <a routerLink="/noticia"> <i class="bi bi-lightbulb"></i> Noticias</a>
          <br><br>
          <a routerLink="/materia"> <i class="bi bi-list"></i> Materias</a>
          <br><br>
          <a routerLink="/unidades"> <i class="bi bi-clipboard2-check"></i> Unidades Curriculares</a>
          <br><br>
          <a routerLink="/informacion"> <i class="bi bi-exclamation-circle"></i> Informacion de carrera</a>
          <br><br>
          <a routerLink="/datos"> <i class="bi bi-book"></i> Datos de interes</a>
          <br><br>
          <a routerLink="/oportunidades"> <i class="bi bi-shop"></i> Oportunidades laborables</a>
          <br>
        </div>
      </li>
      <li [ngbNavItem]="1">
        <button (ng-click)="logout()" style="padding: 5px; margin: 5px;" class =" btn btn-secundary" > <i class="bi bi-door-open"></i> Log Out</button>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #elseBlock>
  <!-- NO ESTA LOGEADO -->
  <div> 
    <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-between" style="background-color: white ; margin-bottom: 2%;">
      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" ngbDropdownToggle><img src="../../assets/Isotipo-utec.png"
            style="width: 30px;"> Menu</a>
        <div ngbDropdownMenu style="padding: 5px; width: 230px;">
          <a routerLink="/"> <i class="bi bi-house"></i> Home</a>
          <br><br>
          <a routerLink="/noticia"> <i class="bi bi-lightbulb"></i> Noticias</a>
          <br><br>
          <a routerLink="/unidades"> <i class="bi bi-clipboard2-check"></i> Unidades Curriculares</a>
          <br><br>
          <a routerLink="/informacion"> <i class="bi bi-exclamation-circle"></i> Informacion de carrera</a>
          <br><br>
          <a routerLink="/datos"> <i class="bi bi-book"></i> Datos de interes</a>
          <br><br>
          <a routerLink="/oportunidades"> <i class="bi bi-shop"></i> Oportunidades laborables</a>
          <br><br>
        </div>
      </li>
      <li [ngbNavItem]="1" style="padding: 5px; margin-top: 5px;">
        <a routerLink="/login"> <i class="bi bi-door-open"></i> login</a>
      </li>
    </ul>
  </div>
</ng-template>
