<div class="row justify-content-center" style="margin-left: 30% ;">
    <h2 class="tit">Inicio de sesión</h2>
    <form [formGroup]="formlogin" (submit)="login()">
        <br>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%;" >
            <p>Username :</p>
            <input type="text" formControlName="username" class="inputs">
        </div>
        <br>
        <br>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%;">
            <p>Contraseña :</p>
            <input type="password" formControlName="password" class="inputs">
        </div>
        <br>
        <br>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%;">
            <button type="submit" class="btn btn-dark btnconf col-10">Login </button>
        </div>
    </form>
</div>