<div class="col-12 justify-center">
    <h2 class="tit">Inicio de sesión</h2>
    <form [formGroup]="formlogin">
            <br>
            <p>Username :</p>
            <input type="text" formControlName="username" class="inputs">
            <br>
            <br>
            <p>Contraseña :</p>
            <input type="password" formControlName="password" class="inputs">
            <br>
            <br>
            <button onclick="login()" class="btn btn-dark btnconf col-10">Login </button>
    </form>
</div>