<div *ngIf="token!=null; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <!-- ESTA LOGEADPO -->
    <div>
        <div class="row justify-content-center div1">
            <div class="col-11">
                <h2 class="noticiaTitulo">DOCUMENTOS</h2>
                <div class="row justify-content-center">
                    <table class="table-dark table1" cellspacing="0">
                        <thead class="thead1">
                            <tr class="tabla">
                                <td class="tdbase1">Titulo</td>
                                <td class="tdbase1">Tipo</td>
                                <td class="tdbase1">Documento PDF</td>
                                <td>
                                    <button routerLink="/altaDocumentos" class="btn btn-secondary plus">+</button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tabla" *ngFor="let x of documentos">
                                <td class="tdbase">{{x.titulo}}</td>
                                <td class="tdbase">{{x.tipo}}</td>
                                <td class="tdbase">
                                    <button class="btn btn-secondary" download='Documento' (click)="descargarpdf(x.documentoPDF)"
                                        title='Descargar'>Descargar</button>
                                <td class="tdbase">
                                    <button class="btn btn-secondary pen"><i class="bi bi-pencil"
                                            (click)="editarDocumento(x.id,x.titulo,x.tipo,x.documentoPDF)"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <button (click)="anteriorPag()" class="btn btn-secondary btn1">Pagina
                        Anterior</button>
                    <button (click)="siguientePag()" class="btn btn-secondary btn1">Pagina
                        Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <!-- NO ESTA LOGEADPO -->
    <h2 class="noticiaTitulo">NO TIENE PERMISO PARA VER ESTA SECCION</h2>
</ng-template>