<div class="col-11">
    <b><u>
            <h2 class="noticiaTitulo">NOTICIAS</h2>
        </u></b>
    <tr class="tabla">
        <td class="tdbase1">Titulo</td>
        <td class="tdbase">Descripcion</td>
        <td class="tdbase">Fecha de caducidad</td>
        <td class="tdbase">Imagen</td>
        <td class="tdbtn">
            <button routerLink="/altaNoticia" class="btn btn-secondary" style="margin: 5px;">+</button>
        </td>
    </tr>
    <tr class="tabla" *ngFor="let x of noticias">
        <td class="tdbase">{{x.titulo}}</td>
        <td class="tdbase">{{x.descripcion}}</td>
        <td class="tdbase">{{x.fechaCaducidad}}</td>
        <td class="tdbase"><img src={{x.imagen}} alt="img" style="height: 100px;"></td>
        <td><button class="btn btn-secondary" style="margin: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg></button>
        </td>
    </tr>
</div>