<div class="row justify-content-center">
    <div class="col-11">
        <h2 class="noticiaTitulo">OPORTUNIDADES LABORALES</h2>
        <div class="row justify-content-center">
            <table class="table-dark table1" cellspacing="0">
                <thead class="thead1">
                    <tr class="tabla">
                        <td class="tdbase1">Titulo</td>
                        <td class="tdbase1">Documento PDF</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla" *ngFor="let x of documentos">
                        <td class="tdbase">{{x.titulo}}</td>
                        <td class="tdbase">
                            <button class="btn btn-secondary btndescarga" download='Documento'
                                (click)="descargarpdf(x.documentoPDF)" title='Descargar'>Descargar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>