<div class="col-10 divP">
    <b><u>
            <h2 class="lab">Nueva noticia</h2>
        </u></b>
    <form>
        <div>
            <div class="divInput">
                <label class="lab">Titulo: </label>
                <br>
                <input type="text" class="inputs">
            </div>
            <div class="divInput">
                <label class="lab">Descripción: </label>
                <input type="text" class="inputs">
            </div>
            <div class="divInput">
                <label class="lab">Fecha de caducidad: </label>
                <input type="date" class="inputs">
            </div>
            <div class="divInput">
                <label class="lab">Imagen: </label>
                <button class="btn btn-dark" style="width: 200px; border-radius: 10px;">Agregar imagen</button>
                <input type="image" src="" alt="" class="d-none">
            </div>
            <button class="btn btn-dark btnconf col-8"> Confirmar</button>
        </div>
    </form>
</div>