<div class="col-7">
    <b><u>
            <h3 class="tit">Nueva noticia</h3>
        </u></b>
</div>
<div class="divP">
    <form [formGroup]="formNoticia" (submit)="agregarNoticia()">
        <div class="col-10">
            <div class="divInput">
                <label class="lab">Titulo: </label>
                <br>
                <input type="text" class="inputs" formControlName="titulo">
            </div>
            <div class="divInput">
                <label class="lab">Descripción: </label>
                <br>
                <input type="text" class="inputs" formControlName="descripcion">
            </div>
            <div class="divInput">
                <label class="lab">Fecha de caducidad: </label>
                <br>
                <input type="date" class="inputs" formControlName="fechaCaducidad">
            </div>
            <div class="divInput">
                <label class="lab">Imagen: </label>
                <input type="file" src="" alt="" formControlName="imagen" class="inputs img" style="size:200px;"
                    accept="image/gif, image/jpeg, image/png">
            </div>
        </div>

        <div class="d-flex justify-center justify-items-center">
            <button class="btn btn-dark btnconf" type="submit"> Confirmar</button>
            <button type="reset" class="btn btncancel">Cancelar</button>
        </div>
    </form>