<div class="row justify-content-center" style="margin-left: 30% ;">
    <div style="margin-left: 3% ;">
    <b style="color : white ;"><u>
            <h3 class="tit">Nuevo documento</h3>
        </u></b>
    </div>
    <div class="row justify-content-center" style="margin-left: 30% ;"></div>
<div class="divP">
    <form [formGroup]="formDocumento">
        <div class="col-10">
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Titulo: </label>
                <br>
                <input type="text" class="inputs" formControlName="titulo">
            </div>
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Tipo: </label>
                <br>
                <input type="text" class="inputs" formControlName="tipo">
            </div>
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Activo: </label>
                <br>
                <input type="text" class="inputs" formControlName="activo">
            </div>
        </div>

        <div class="d-flex justify-center justify-items-center">
            <button class="btn btn-dark btnconf" type="submit"> Confirmar</button>
            <button type="reset" class="btn btncancel">Cancelar</button>
        </div>
    </form>
</div>