<div class=" justify-content-center">
    <div >
    <h1 style="color: white ;" >Nueva Materia</h1>
    <br>
    <form [formGroup]="formMateria" (submit)="agregarMateria()">
        <p style="color: white ;">Nombre :</p>
        <input type="text" formControlName="nombre">
        <p style="color: white ;">Descripsion :</p>
        <input type="text" formControlName="descripcion">
        <p style="color: white ;">Creditos :</p>
        <input type="text" formControlName="creditos">
        <br>
        <br>
        <button type="submit" class="btn btn-dark btnconf">Nueva Materia</button>
    </form>
</div>
</div>