<div class="row justify-content-center" style="margin-left: 30% ;">
    <div style="margin-left: 3% ;">
        <h3 class="tit">Nueva Materia</h3>
    </div>
    <form [formGroup]="formMateria" (submit)="agregarMateria()">
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Nombre :</label>
            <br>
            <input type="text" class="inputs" formControlName="nombre">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Descripción :</label>
            <br>
            <input type="text" class="inputs" formControlName="descripcion">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Créditos :</label>
            <br>
            <input type="text" class="inputs" formControlName="creditos">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <button type="submit" class="btn btn-dark btnconf">Agregar</button>
        </div>
    </form>
</div>