<div class="row justify-content-center" style="margin-left: 30% ;">
    <div>
        <b style="color : white ;"><u>
                <h3 style="color: white ;"> Agregar Previa a Curicularcurriular </h3>
            </u></b>
    </div>
    <form [formGroup]="formUnidades" (submit)="agregarPrevia()">
        <div classs="d.flex">
            <table class="table-dark" cellspacing="0" style="margin: 0%; padding: 0% ; border-radius : 20px;">
                <thead
                    style=" border-color: none; background-color: #151d2f ; border-radius: 20px; margin: 0%; padding: 0% ;">
                    <tr class="tabla" style=" border-color: none;">
                        <td class="tdbase1">Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla" *ngFor="let x of previas">
                        <td class="tdbase">{{x.nombre}}</td>
                        <button type="button" class="btn btn-secundary" (click)="selecsionarPrevia(x.id)">Selecsionar
                            Materia</button>
                    </tr>
                    <tr class="tabla">
                        <select formControlName="tipo" size="width: 100%">
                            <option value="Examen">Examen</option>
                            <option value="Curso">Curso</option>
                        </select>
                    </tr>
                </tbody>
            </table>
            <table class="table-dark" cellspacing="0" style="margin: 0%; padding: 0% ; border-radius : 20px;">
                <thead
                    style=" border-color: none; background-color: #151d2f ; border-radius: 20px; margin: 0%; padding: 0% ;">
                    <tr class="tabla" style=" border-color: none;">
                        <td class="tdbase1">Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla" *ngFor="let x of previascargadas">
                        <td class="tdbase">{{x.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <button type="submit" class="btn btn-dark btnconf">Confirmar</button>
        </div>
    </form>
</div>