<div class="row justify-content-center div1">
    <div>
        <h3 class="tit">Agregar Previatura: </h3>
        <h3 class="tit"> {{u.nombre}} </h3>
    </div>
    <form [formGroup]="formUnidades" (submit)="agregarPrevia()">
        <div classs="d.flex">
            <table class="table-dark table1" cellspacing="0">
                <thead class="thead1">
                    <tr class="tabla" style=" border-color: none;">
                        <td class="tdbase1">Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla" *ngFor="let x of previas" >
                        <td class="tdbase">{{x.nombre}}</td>
                        <button type="button" class="btn btn-secondary btnsel" (click)="selecsionarPrevia(x.id)">Seleccionar</button>
                    </tr>
                    <tr class="tabla">
                        <select formControlName="tipo" size="width: 100%" class="op">
                            <option value="EXAMEN">Examen</option>
                            <option value="CURSO">Curso</option>
                        </select>
                    </tr>
                </tbody>
            </table>
            <table class="table-dark table1" cellspacing="0" (cuechange)="getListPrevias()" >
                <thead class="thead1">
                    <tr class="tabla" style=" border-color: none;">
                        <td class="tdbase1">Nombre</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tabla" *ngFor="let x of previascargadas">
                        <td class="tdbase">{{x.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center div2">
            <button type="submit" class="btn btn-dark btnconf">Confirmar</button>
        </div>
    </form>
</div>