@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Play&family=Poppins:wght@300&family=Press+Start+2P&family=Source+Code+Pro&display=swap');

label{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    text-decoration-line: underline;
    color: wheat;
}
h3{
    color : white ;
}

.btnconf {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.btncancel{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    color: white;
    background-color: rgba(64, 70, 75, 0.664);
}

.btnsel{
    margin: 5px;
}

.divP {
    text-align: center;
    justify-content: center;
}

.divInput {
    justify-content: center;
    text-align: left;
    margin-bottom: 10px;
}

.inputs {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    border-radius: 10px;
    color: white;
    border-color: none;
    background-color: rgba(7, 7, 31, 0.452);
}

.lab {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.img{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    border-color: none;
}

.tit {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    margin-left: 30px;
    text-decoration: underline;
    color: white;
}

.divImg{
    margin-left: 55%; 
    margin-bottom: 2%;
}

tr .tdbtn {
    border-radius: 20px;
    background-color: #151d2f;
}
.tabla{
    background-color: #151d2f; 
    text-align: center; 
    border-radius: 20px;
    margin-bottom: 20px;
    border-color: none;
}

table { 
    border-radius: 20px;
    border-collapse: separate; 
}

.tdbase{
    border-color: none;
    color: white; 
    margin: 3%;
    font-family: 'Poppins', sans-serif;
}

.tdbase1{
    border-color: none;
    color: white; 
    margin: 3%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-decoration: underline;
    font-size: large;
}

.tdbtn{
    padding: 10px; 
    margin: 3%; 
    display: flex; 
    border-radius: 20px;
}

tr td, th { 
    border-top-right-radius: 0;               
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 
}

thead tr:last-child td:first-child { 
    border-top-left-radius: 20px ; 
}
thead tr:last-child td:last-child { 
    border-top-right-radius: 20px; 
}

tbody tr:last-child td:first-child { 
    border-bottom-left-radius: 20px ; 
}
tbody tr:last-child td:last-child { 
    border-bottom-right-radius: 20px; 
}

.thead1{
    border-color: none; 
    background-color: #151d2f; 
    margin: 0%; 
    padding: 0%;

}

.table1{
    padding: 2%; 
    border-radius : 20px;
    margin-bottom: 20px; 
    border-color: none;
    background-color: #151d2f;
}

.div1{
    width: 30%; 
    margin-left: 1%; 
    margin-bottom: 2%;
}

.div2{
    margin-left: 30%;
}