<div class="row justify-content-center" style="margin-left: 30% ;">
    <div >
        <b style="color : white ;"><u> <h3 style="color: white ;"> Nueva Unidad Curicular </h3> </u></b>
    </div>
    <form [formGroup]="formUnidades" (submit)="agregarUnidad()">
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Nombre :</label>
            <br>
            <input type="text" class="inputs" formControlName="nombre">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Descripsion :</label>
            <br>
            <input type="text" class="inputs" formControlName="descripcion">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <label class="lab">Creditos :</label>
            <br>
            <input type="text" class="inputs" formControlName="creditos">
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <button type="button" class="btn btn-secondary">Agregar Documento</button> <!-- esto no se hacerlo jeje  -->
        </div>
        <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
            <button type="submit" class="btn btn-dark btnconf">Confirmar</button>
        </div>
    </form>
</div>
