<div class="row justify-content-center" style="margin-left: 30% ;">
    <div style="margin-left: 3% ;">
    <b style="color : white ;"><u>
            <h3 class="tit">Nuevo documento</h3>
        </u></b>
    </div>
    <div class="row justify-content-center" style="margin-left: 30% ;"></div>
<div class="divP">
    <form [formGroup]="formDocumento" (submit)="editarDocumento()">
        <div class="col-10">
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Titulo: </label>
                <br>
                <input type="text" class="inputs" formControlName="titulo" [ngModel]="doctemporal.titulo">
            </div>
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Tipo: </label>
                <br>
                <select class="inputs" formControlName="tipo" [ngModel]="doctemporal.tipo">
                    <option value="INFORMACION_DE_CARRERA">INFORMACION_DE_CARRERA</option>
                    <option value="OPORTUNIDADES_LABORALES">OPORTUNIDADES_LABORALES</option>
                    <option value="DATOS_DE_INTERES">DATOS_DE_INTERES</option>
                </select>
            </div>
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;" >
                <label class="lab">Activo: </label>
                <br>
                <select class="inputs" formControlName="activo" [ngModel]="doctemporal.activo">
                    <option value="true">SI</option>
                    <option value="false">NO</option>
                </select>
            </div>
            <div class="row justify-content-center" style="width: 30% ; margin-left: 1%; margin-bottom: 2%;">
                <button type="button" class="btn btn-dark" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" formControlName="documento">
                <span class="file-name">{{selectedFile?.name}}</span>
            </div>
        </div>

        <div class="d-flex justify-center justify-items-center">
            <button class="btn btn-dark btnconf" type="submit"> Confirmar</button>
            <button type="reset" class="btn btncancel">Cancelar</button>
        </div>
    </form>
</div>