<div class="row divP">
    <div class="row justify-content-center">
        <div>
            <h3 class="tit">Editar documento</h3>
        </div>
        <div class="divP row justify-content-center">
            <form [formGroup]="formDocumento" (submit)="editarDocumento()">
                <div class="col-10">
                    <div class="row justify-content-center div1">
                        <label class="lab">Título: </label>
                        <br>
                        <input type="text" class="inputs" formControlName="titulo" [ngModel]="doctemporal.titulo">
                    </div>
                    <div class="row justify-content-center div1">
                        <label class="lab">Tipo: </label>
                        <br>
                        <select class="inputs" formControlName="tipo" [ngModel]="doctemporal.tipo">
                            <option value="INFORMACION_DE_CARRERA">INFORMACION_DE_CARRERA</option>
                            <option value="OPORTUNIDADES_LABORALES">OPORTUNIDADES_LABORALES</option>
                            <option value="DATOS_DE_INTERES">DATOS_DE_INTERES</option>
                        </select>
                    </div>
                    <div class="row justify-content-center div1">
                        <label class="lab">Activo: </label>
                        <br>
                        <select class="inputs" formControlName="activo" [ngModel]="doctemporal.activo">
                            <option value="true">SI</option>
                            <option value="false">NO</option>
                        </select>
                    </div>
                    <div class="row justify-content-center div1">
                        <button type="button" class="btn btn-dark" mat-raised-button (click)="fileInput.click()">Choose
                            File</button>
                        <input hidden (change)="onFileSelected($event)" #fileInput type="file"
                            formControlName="documento">
                        <span class="file-name">{{selectedFile?.name}}</span>
                    </div>
                </div>

                <div class="d-flex justify-center justify-items-center divbtn">
                    <button class="btn btn-dark btnconf" type="submit"> Confirmar</button>
                    <button type="reset" class="btn btncancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>