<div class="div1 mx-auto">
    <div class="justify-center">
        <h1>Nombre: {{unidad.nombre}}</h1>
    </div>
    <div class="justify-center">
        <p>Créditos: {{unidad.creditos}}</p>
    </div>
    <div class="justify-center">
        <p>Descripción: {{unidad.descripcion}}</p>
    </div>
    <div class="justify-center">
        <p>Semestre: {{unidad.semestre}}</p>
    </div>
    <div class="justify-center">
        <p>Materia</p>
        <div class="div2">
            <p>Nombre:  {{unidad.materia?.nombre}}</p>
            <p>Descripción:  {{unidad.materia?.descripcion}}</p>
            <p>Créditos mínimos  {{unidad.materia?.creditosMinimos}}</p>
        </div>
    </div>
    
    <div class="justify-center">
        <p class="lista">Lista de previas</p>
        <table class="table-dark table1" cellspacing="0">
            <thead class="thead1">
                <tr class="tabla">
                    <td class="tdbase1">Nombre</td>
                    <td class="tdbase2"></td>
                </tr>
            </thead>
            <tbody class="tabla table1">
                <tr *ngFor="let x of unidad.previas">
                    <td class="tdbase">{{x.previa.nombre}}</td>
                    <td class="tdbase">{{x.tipo}}</td>
                    <td class="tdbase">
                        <button type="button" class="btn btn-secondary" (click)="eliminarPrevia(x.id)">Eliminar Previa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="token!=null; ">
        <button class="btn btn-secondary" (click)="eliminarUnidad(unidad.id)"> Eliminar Unidad</button>
    </div>
</div>