<div style="margin-left: 30%;">
    <div style="align-items: center;">
        <h1>Nombre: {{unidad.nombre}}</h1>
    </div>
    <div style="align-items: center;">
        <p>Creditos: {{unidad.creditos}}</p>
    </div>
    <div style="align-items: center;">
        <p>Descripcion {{unidad.descripcion}}</p>
    </div>
    <div style="align-items: center;">
        <p>Materia</p>
        <div style="margin-left: 30px;">
            <p>Nombre:  {{unidad.materia?.nombre}}</p>
            <p>Descripcion:  {{unidad.materia?.descripcion}}</p>
            <p>Creditos Minimos  {{unidad.materia?.creditosMinimos}}</p>
        </div>
    </div>
    
    <div style="align-items: center;">
        <p>Previas</p>
        <table class="table-dark" cellspacing="0" style="margin: 0%; padding: 0% ; border-radius : 20px;">
            <thead
                style=" border-color: none; background-color: #151d2f ; border-radius: 20px; margin: 0%; padding: 0% ;">
                <tr class="tabla" style=" border-color: none;">
                    <td class="tdbase1">Nombre</td>
                </tr>
            </thead>
            <tbody>
                <tr class="tabla" *ngFor="let x of unidad.previas">
                    <td class="tdbase">{{x.previa.nombre}}</td>
                    <td class="tdbase">{{x.tipo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="token!=null; ">
        <button (click)="eliminarUnidad(unidad.id)"> Eliminar Unidad</button>
    </div>
</div>